body {
    background-color: white;
    color: lightgrey;
}
h1 {
    font-family: "Shadows Into Light", cursive;
    font-size: 54px;
}
h2 {
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
}
nav ul ol {
    display: inline-block;
    margin: 5%;
    padding: 5%;
}
a:visited {
    color: grey;
}
#orga {
    color: black;
    position: relative;
    font-family: "Shadows Into Light", cursive;
    margin: 25%;
    padding: 25%;
    font-size: 1.5em;
}
#structure {
    color: black;
    margin: 25%;
    padding: 25%;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5em;
}
#comment {
    color: black;
    margin: 25%;
    padding: 25%;
    font-family: "Shadows Into Light", cursive;
    font-size: 1.5em;
}
#header {
    font-size: 54px;
    text-align: center;
}
#orga-work {
    background-color: #00445D;
    font-family: "Nova Mono", sans-serif;
    font-size: 18px;
    color: white;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: -10px;
    margin-right: -10px;
}
#declaration {
    background-color: #FFDF0A;
    font-family: "Nova Mono", sans-serif;
    font-size: 18px;
    color: black;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: -10px;
    margin-right: -10px;
}
